*
!*/

!*.hpp
!*.ipp
!*.tpp
!*.cpp
!*.in

!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest

!*.md

!docs/images/*.png

!.clang-format

!.githooks/**
!.gitmodules
!.gitattributes
!.gitignore